@import 'vendor';
@import 'reset';
@import 'layout';
body {
  font-family: Helvetica, Arial, sans-serif;
}

a,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

select {
  border: 1px solid;
}

button {
  border: 1px solid;
  border-radius: 5px;
}

html,
body,
.container {
  height: 100%;
}

#history-message {
  visibility: hidden;
  overflow: auto;
  .receiver,
  .sender {
    margin-bottom: 10px;
    padding: 10px;
  }
  img {
    width: 44px;
    height: 44px;
  }
  .time {
    padding: 5px;
    text-align: center;
    color: white;
    background: gray;
  }
  .receiver {
    text-align: left;
    border: 1px solid orange;
  }
  .sender {
    text-align: right;
    border: 1px solid green;
  }
}

.input-section {
  padding: 4px;
}

#message {
  border: 2px solid;
  border-radius: 5px;
  flex: 1 auto;
}

#send {
  width: 60px;
}

#emoji-wrapper {
  position: absolute;
  bottom: 105px;
  display: none;
  width: 500px;
  background-color: #aaa;
  box-shadow: 0 0 10px #555;
}

#emoji-wrapper img {
  width: 25px;
  height: 25px;
  margin: 2px;
  padding: 2px;
}

.emoji {
  display: inline;
}
